
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
<MudThemeProvider Theme="Theme" />
<MudDialogProvider />
<MudSnackbarProvider />
@code
{
    MudTheme Theme = new MudTheme
    {
        Palette = new Palette
        {
            Background = "#ffffff",
            Surface = "#1d1d1d",
            TextPrimary = "#ffffff",
            Primary = "#d1a53b",
            Warning = "#1e1e1e",
            Dark = "#1d1d1d"

        },
        Typography = new Typography()
        {
            Default = new Default()
            {
                FontFamily = new[] { "system-ui" }
            },
            H6 = new H6()
            {
                FontFamily = new[] { "system-ui" },
                FontSize = "2rem",
                FontWeight = 400,
                LineHeight = 1.43,
                LetterSpacing = ".01071em"
            },
            Button = new Button()
            {
                FontFamily = new[] { "system-ui" },
                FontSize = "1rem",
                FontWeight = 400,
                LineHeight = 1.43,
                LetterSpacing = ".01071em"
            },
            Body1 = new Body1()
            {
                FontFamily = new[] { "system-ui" },
                FontSize = "1rem",
                FontWeight = 400,
                LineHeight = 1.43,
                LetterSpacing = ".01071em"
            }

        }

    };
}
