<MudGrid>
    <MudItem xs="4">
        <MudSimpleTable Style="overflow-x: auto;" Hover="true" Dense="true" Bordered="true">
            <thead>
                <tr>
                    <th>Combait Trait</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (KeyValuePair<string, int> trait in ViewModel.CombatTraits)
                {
                    <tr>
                        <td>
                            @trait.Key
                        </td>
                        <td>
                            @trait.Value
                        </td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    </MudItem>
</MudGrid>

@code {
    [CascadingParameter]
    public CharacterViewModel ViewModel { get; set; }
}