@page "/characterPage"
@page "/characterPage/{Id:int}"

<CascadingValue Value="_vm">
    <MudGrid>
        <MudItem xs="5">
            <MudPaper>
                <CharacterNameInputComponent />
                <CharacterTierInputComponent />
                <CharacterArchetypeComponent />
            </MudPaper>
            <div class="mt-3">
                <CharacterXPInputComponent />
            </div>
        </MudItem>
        <MudItem xs="4">
            
        </MudItem>
    </MudGrid>
</CascadingValue>