@page "/characterPage"
@page "/characterPage/{Id:int}"

@if (Character is null)
{
    <p>No Character found.</p>
}
else
{
    <p>@Character.Name</p>
    <div class="col-3">
        <AttributesComponent Attributes="Character.Attributes" ValueChanged="async () => await _characterService.UpdateCharacter(Character)" />
    </div>
}
