@page "/characterPage"
@page "/characterPage/{Id}"
<CascadingValue Value="_vm">
    <MudGrid Spacing="1" Justify="Justify.FlexStart">
        <MudItem xs="1">
            <div class="mb-3">
                @if (!string.IsNullOrWhiteSpace(_vm.Character.AvatarPath))
                {
                    <img style="max-width: 90%; max-height: 90%;" src="art/@_vm.Character.AvatarPath">
                }
            </div>
        </MudItem>
        <MudItem xs="3">
            <MudCard>
                <CharacterNameInputComponent />
                <MudFab @onclick="_vm.DrawerComponent.ToggleDrawer" Icon="@Icons.Material.Filled.AddTask" Size="Size.Medium" IconSize="Size.Medium" Label="Skill Checks" />
            </MudCard>
        </MudItem>
        <MudItem xs="2">
            <MudCard>
                <CharacterXPInputComponent />
            </MudCard>
        </MudItem>
        <MudItem xs="2">
            <MudCard>
                <RankInputComponent />
            </MudCard>
        </MudItem>
    </MudGrid>
    <MudGrid>
        <MudItem xs="2">
            <CharacterTierInputComponent />
            <CurrentWoundsComponent />
            <CurrentShockComponent />
            <WrathComponent />
            <GloryComponent />
        </MudItem>
        <MudItem xs="9">
            <MudGrid>
                <MudTabs Rounded="false" Position="Position.Left" Class="mt-3">
                    <MudTabPanel Text="Action">
                        <MudPaper>
                            <WeaponActionComponent />
                        </MudPaper>
                    </MudTabPanel>
                    <MudTabPanel Text="Archetype">
                        <MudPaper>
                            <ArchetypeComponent />
                        </MudPaper>
                    </MudTabPanel>
                    <MudTabPanel Text="Armor">
                        <MudPaper>
                            <ArmorListComponent />
                        </MudPaper>
                    </MudTabPanel>
                    <MudTabPanel Text="Gear">
                        <MudPaper>
                            <GearListComponent />
                        </MudPaper>
                    </MudTabPanel>
                    <MudTabPanel Text="Pyschic">
                        <MudPaper>
                            <PyschicListComponent />
                        </MudPaper>
                    </MudTabPanel>
                    <MudTabPanel Text="Quests">
                        <QuestListComponent />
                    </MudTabPanel>
                    <MudTabPanel Text="Quick Reference">
                        <QuickReferenceComponent />
                    </MudTabPanel>
                    <MudTabPanel Text="Skill Tree">
                        <SkillTreeComponent />
                    </MudTabPanel>
                    <MudTabPanel Text="Talent">
                        <MudPaper>
                            <TalentListComponent />
                        </MudPaper>
                    </MudTabPanel>
                    <MudTabPanel Text="Weapons">
                        <MudPaper>
                            <AmmoComponent />
                            <WeaponListComponent />
                        </MudPaper>
                    </MudTabPanel>
                </MudTabs>
            </MudGrid>
        </MudItem>
    </MudGrid>

    <DrawerComponent Anchor="Anchor.Left" DrawerType="CharacterDrawerType.Skills" @ref="_vm.DrawerComponent" />

</CascadingValue>