@page "/"


<MudGrid Justify="Justify.Center" Class="mb-3">
    <MudPaper>
        <MudItem>
            <MudButton @onclick="NewCharacter">Create Character</MudButton>
        </MudItem>
    </MudPaper>
</MudGrid>
<MudGrid Justify="Justify.Center">
    @if (!_vm.Busy)
    {
        @foreach (Character character in _vm.Characters)
        {
            <MudItem xs="3">
                <MudCard>
                    <MudCardContent>
                        <MudLink Href="@($"characterPage/{@character.Id}")" Typo="Typo.h6">@character.Name</MudLink>
                        <MudText>Archetype: @character.Archetype?.Name</MudText>
                        <MudText>Tier: @character.Tier</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    }
    else
    {
        <div class="spinner-border p-5" role="status"></div>
    }
</MudGrid>
