@page "/"
@inject CharacterService CharacterService
@inject NavigationManager NavManager
@inject CharacterService CharacterService

<div class="row justify-content-center text-center">
    <div class="col-3 shadow rounded p-3">
        @foreach (Character character in Characters)
        {
            <a href="characterPage/@character.CharacterId">
                <div class="mb-3 border-secondary text-center">
                    <h3>@character.Name</h3>
                </div>
            </a>
        }
        <button class="btn border-secondary text-success" @onclick="NewCharacter">New Character</button>
    </div>
</div>

    @code {

        List<Character> Characters = new List<Character>();

        protected override async Task OnInitializedAsync()
        {
            Characters = await CharacterService.ListCharacters();
            await base.OnInitializedAsync();
        }

        private async Task NewCharacter()
        {
            Character Character = await CharacterService.NewCharacter();
            NavManager.NavigateTo($"characterPage/{Character.CharacterId}");
        }


    }
