@page "/"
@inject CharacterService CharacterService

<h1>Hello, world!</h1>


@code {        

    List<Character> Characters = new List<Character>();

    protected override async Task OnInitializedAsync()
    {
        Characters = await CharacterService.ListCharacters();
        await base.OnInitializedAsync();
    }


}