@page "/"
@inject CharacterService CharacterService
@inject NavigationManager NavManager
@inject CharacterService CharacterService 

@foreach(Character character in Characters)
{
    <p>
        <a href="characterPage/@character.CharacterId">@character.Name</a>
    </p>
}

<p>
    <button class="btn btn-secondary" @onclick="NewCharacter">New Character</button>
</p>

@code {        

    List<Character> Characters = new List<Character>();

    protected override async Task OnInitializedAsync()
    {
        Characters = await CharacterService.ListCharacters();
        await base.OnInitializedAsync();
    }

    private async Task NewCharacter()
    {
        Character Character = await CharacterService.NewCharacter();
        NavManager.NavigateTo($"characterPage/{Character.CharacterId}");
    }


}