@page "/"
@inject CharacterService CharacterService

@foreach(Character character in Characters)
{
    <p>
        <a href="characterPage/@character.CharacterId">@character.Name</a>
    </p>
}

<p>
    <a href="characterPage">New</a>
</p>

@code {        

    List<Character> Characters = new List<Character>();

    protected override async Task OnInitializedAsync()
    {
        Characters = await CharacterService.ListCharacters();
        await base.OnInitializedAsync();
    }


}