@page "/"

<MudPaper>
    <MudGrid Justify="Justify.Center" Class="mb-3">
        <MudItem>
            <MudButton @onclick="NewCharacter">Create Character</MudButton>
        </MudItem>
    </MudGrid>
    <MudGrid Justify="Justify.Center">
        <MudItem>
            @if (!_vm.Busy)
            {
                <MudList Clickable="true">
                    @foreach (Character character in _vm.Characters)
                    {
                        <MudListItem>
                            <MudLink Href="@($"characterPage/{@character.CharacterId}")" Typo="Typo.body2">@character.Name</MudLink>
                        </MudListItem>
                    }
                </MudList>
            }
            else
            {
                <div class="spinner-border p-5" role="status"></div>
            }
        </MudItem>
    </MudGrid>
</MudPaper>
