@page "/questManagementPage"

<CascadingValue Value="_vm">
    <div class="mb-3">
        <QuestContentInputComponent />
    </div>
    <div>
        <QuestManageComponent />
    </div>
</CascadingValue>