<div class="row">
    Archetype: @Character.Archetype.Name
</div>
<div class="row">
    Keywords: @Character.Archetype.Keywords
</div>
<div class="row">
    Ability: @Character.Archetype.ArchetypeAbility
</div>
<div class="row">
    Influence: @Character.Archetype.Influence
</div>


@code {

    [Parameter]
    public Character Character { get; set; }

}
