<div class="row">
    <h4>@Character.Archetype.Name</h4>
</div>
<div class="row mb-2">
    Keywords: @Character.Archetype.Keywords
</div>
<div class="row mb-2">
    Ability: @Character.Archetype.ArchetypeAbility
</div>
<div class="row">
    Influence: @Character.Archetype.Influence
</div>


@code {

    [Parameter]
    public Character Character { get; set; }

}
