<p>@Character.Archetype.Name</p>
<p>Keywords: @Character.Archetype.Keywords</p>
<p>Ability: @Character.Archetype.ArchetypeAbility</p>
<p>Influence: @Character.Archetype.Influence</p>


@code {

    [Parameter]
    public Character Character { get; set; }

}
