@if(Character.Armor == null)
{
    <p>Unarmored</p>
}
else
{
<div class="row">
    <div class="col">
        <p>Armor Name</p>
        <p>@Character.Armor.Name</p>
    </div>
    <div class="col">
        <p>AR</p>
        <p>@Character.Armor.AR</p>
    </div>
    <div class="col">
        <p>Traits</p>
        <p>@Character.Armor.Traits</p>
    </div>
</div>
}

@code {
    [Parameter]
    public Character Character { get; set; }

}
