@inject CharacterService CharacterService

<div class="row mb-3">
    <input type="text" class="form-control" placeholder="CharacterName" @bind="NewCharacter.Name" />
</div>
<div class="row mb-3">
    <CascadingValue Value="NewCharacter.Race">
        <RaceListComponent />
    </CascadingValue>
</div>
<div class="row mb-3">
    <RaceFormComponent />
</div>
<div class="row">
    <CascadingValue Value="NewCharacter.Class">
        <ClassListComponent  />
     </CascadingValue>
</div>





@code {

    Character NewCharacter;


    protected override async Task OnInitializedAsync()
    {
        NewCharacter = new Character();
        NewCharacter.Race = new Race();
        await base.OnInitializedAsync();
    }
}
