@inject CharacterClassService CharacterClassService

<select class="form-control" @onchange="LookupClass">
    <option selected>Select a Race</option>
    @foreach (CharacterClass characterClass in Classes)
    {
        <option>@characterClass.Name</option>
    }
</select>

@code {

    private List<CharacterClass> Classes = new List<CharacterClass>();

    [CascadingParameter]
    public CharacterClass SelectedClass { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Classes = await CharacterClassService.ListCharacterClasses();
        await base.OnInitializedAsync();
    }

    private async Task LookupClass(ChangeEventArgs e)
    {
        SelectedClass = await CharacterClassService.LookupCharacterClass(e.Value.ToString());
    }

}