<div class="row">
    <p>Mental Traits</p>
</div>
<div class="row">
    <div class="col-6">
        Conviction
    </div>
    <div class="col">
        <input type="number" class="form-control" disabled value="@(Character.Attributes.Willpower)" />
    </div>
</div>
<div class="row">
    <div class="col-6">
        Resolve
    </div>
    <div class="col">
        <input type="number" class="form-control" disabled value="@(Character.Attributes.Willpower - 1)" />
    </div>
</div>

@code {

    [Parameter]
    public Character Character { get; set; }
}
