@inject RaceService RaceService

<select class="form-control" @onchange="LookupRace">
    <option selected>Select a Race</option>
    @foreach(Race race in Races)
    {
        <option>@race.Name</option>
    }
</select>

@code {

    private List<Race> Races = new List<Race>();

    [CascadingParameter]
    public Race SelectedRace { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Races = await RaceService.ListRaces();
        await base.OnInitializedAsync();
    }

    private async Task LookupRace(ChangeEventArgs e)
    {
        SelectedRace = await RaceService.RaceLookup(e.Value.ToString());
    }

}
