@foreach (Talent talent in Character.Talents)
{
<div class="mb-2">
    <p>@talent.Name</p>
    <p>@talent.Description</p>
</div>
}

@code {

    [Parameter]
    public Character Character { get; set; }

}
